/*! @import */
@tailwind base;
@tailwind components;
@tailwind utilities;

*,
:after,
:before {
  box-sizing: border-box;
}

ol,
ul {
  list-style: none;
}

body {
  margin: 0;
  color: #343d4a;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
}

#app .view {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#content {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}
